.venv
.venv-1
__pycache__
*.pyc
*.pyo
*.pyd

.git
.gitignore

.env
.env.*
!.env.example

reports
*.json

vivamind-frontend
vivamind-playground

.vscode
.idea

node_modules
.next
dist
build

*.log
.DS_Store
Thumbs.db